table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #04346d;
    color: white;
    padding: 10px;
    border: none;
}

td {
    color: black;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
        }

tbody tr:hover {
    background-color: #ddd;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #04346d;
}
.header__search {
    display: flex;
    align-items: center;
    width: 300px;
    height: 48px;
    background-color: white;
    border-radius: 500px;
    border: 1px solid #ccc;
}
.header__search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}